@font-face { font-family: "BpmfZihiSerif-Regular"; src: url("fonts/BpmfZihiSerif-Regular.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "BpmfZihiKaiStd-Regular"; src: url("fonts/BpmfZihiKaiStd-Regular.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "BpmfZihiSans-Regular"; src: url("fonts/BpmfZihiSans-Regular.woff2") format("woff2"); font-display: swap; }
@font-face { font-family: "ToneOZ-Pinyin-Kai-Traditional"; src: url("fonts/ToneOZ-Pinyin-Kai-Traditional.woff2") format("woff2"); font-display: swap; }
